# Quartus build artifacts
db/
incremental_db/
output_files/
simulation/
cache/
nativelink/
tmp/
*.rpt
*.qmsg

# Intermediate compilation artefacts
*.bak
*.log
*.summary
*.cmp

# ModelSim / Waveform files
work/
transcript
*.wlf
*.vcd
*.do

# Generated hardware RTL or netlist intermediates
*.sof
*.pof
*.hex
*.qdf
*.smsg

# Mac system junk
.DS_Store
